* {
  font-family: "Josefin Sans", "Roboto", "Arial", sans-serif;
}
.App {
  text-align: center;
  width: 100vw;
  height: 70vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
}
.card {
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  border-radius: 16px;
  padding-bottom: 7px;
  height: 10em;
  width: 24em;
  margin: auto;
  -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

@media (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
  }
}
